:root {
  --primary-color: #0099ff;
  --typical-width: 1200px;
  --primary-color-dark: #0099cc;
  --border-color: #dcdfe6;
  --border-shadow-color: #cccccc;
  --primary-back-color: #f6f6f6;
  --error-color: #ff0000;
}